body {
    margin: 0;
    padding: 0;
    color: #1a2a3a;
    background-color: #eef6ff;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
